<a href="https://colab.research.google.com/github/Xaypanya/Machine-Learning/blob/main/Dummy_variable%2C_Linear_Regression_scikit_learn_%26_statsmodels.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



> ເອີ້ນນຳໃຊ້ pandas ເປັນ Python Package ເຊິ່ງແມ່ນເຄື່ອງມືສຳລັບວິເຄາະ ແລະ ຈັດການຂໍ້ມຸນ ໂດຍແທນຊື່ຕົວປ່ຽນເປັນ pd

In [ ]:
import pandas as pd



> ສະແດງເວິຊັ້ນຂອງ pandas ແລະ ສະແດງຂໍ້ມູນໃນ DataFrame ທັງໝົດ

In [ ]:
print(f'pandas  version: {pd.__version__}') 
df=pd.read_csv('https://github.com/prasertcbs/tutorial/raw/master/msleep.csv')
df

pandas  version: 1.3.5

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
0,Cheetah,Acinonyx,carni,Carnivora,lc,12.1,NaN,NaN,11.9,NaN,50.000
1,Owl monkey,Aotus,omni,Primates,NaN,17.0,1.8,NaN,7.0,0.01550,0.480
2,Mountain beaver,Aplodontia,herbi,Rodentia,nt,14.4,2.4,NaN,9.6,NaN,1.350
3,Greater short-tailed shrew,Blarina,omni,Soricomorpha,lc,14.9,2.3,0.133333,9.1,0.00029,0.019
4,Cow,Bos,herbi,Artiodactyla,domesticated,4.0,0.7,0.666667,20.0,0.42300,600.000
...,...,...,...,...,...,...,...,...,...,...,...
78,Tree shrew,Tupaia,omni,Scandentia,NaN,8.9,2.6,0.233333,15.1,0.00250,0.104
79,Bottle-nosed dolphin,Tursiops,carni,Cetacea,NaN,5.2,NaN,NaN,18.8,NaN,173.330
80,Genet,Genetta,carni,Carnivora,NaN,6.3,1.3,NaN,17.7,0.01750,2.000
81,Arctic fox,Vulpes,carni,Carnivora,NaN,12.5,NaN,NaN,11.5,0.04450,3.380
82,Red fox,Vulpes,carni,Carnivora,NaN,9.8,2.4,0.350000,14.2,0.05040,4.230



> ສະແດງຂໍ້ມູນກ່ຽວກັບ DataFrame ເຊັ່ນ index dtype, column dtypes, ຄ່າ non-null ແລະ ຂະໜາດໜ່ວຍຄວາມຈຳທີ່ໃຊ້

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83 entries, 0 to 82
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          83 non-null     object
 1   genus         83 non-null     object
 2   vore          76 non-null     object
 3   order         83 non-null     object
 4   conservation  54 non-null     object
 5   sleep_total   83 non-null     float64
 6   sleep_rem     61 non-null     float64
 7   sleep_cycle   32 non-null     float64
 8   awake         83 non-null     float64
 9   brainwt       56 non-null     float64
 10  bodywt        83 non-null     float64
dtypes: float64(6), object(5)
memory usage: 7.3+ KB



> ກວດສອບຄ່າທີວ່າງເປົ່າ (NA: Not Available) ໃນ colum ທີ່ມີຊື່ວ່າ vore

In [ ]:
### check NA in 'vore'column
df[df.vore.isna()]

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
7,Vesper mouse,Calomys,NaN,Rodentia,NaN,7.0,NaN,NaN,17.0,NaN,0.045
54,Desert hedgehog,Paraechinus,NaN,Erinaceomorpha,lc,10.3,2.7,NaN,13.7,0.00240,0.550
56,Deer mouse,Peromyscus,NaN,Rodentia,NaN,11.5,NaN,NaN,12.5,NaN,0.021
57,Phalanger,Phalanger,NaN,Diprotodontia,NaN,13.7,1.8,NaN,10.3,0.01140,1.620
62,Rock hyrax,Procavia,NaN,Hyracoidea,lc,5.4,0.5,NaN,18.6,0.02100,3.600
68,Mole rat,Spalax,NaN,Rodentia,NaN,10.6,2.4,NaN,13.4,0.00300,0.122
72,Musk shrew,Suncus,NaN,Soricomorpha,NaN,12.8,2.0,0.183333,11.2,0.00033,0.048



> dropna() ແມ່ນຟັງຊັ້ນທີ່ໃຊ້ລົບຄ່າວ່າງເປົ່າ parameter ປະກອບມີ



1.   axis: ກຳນົດແກນທີ່ຕ້ອງການລົບ {0 ຫຼື 'index', 1 ຫຼື 'columns'}, default 0
*   0 ຫຼື 'index' ແມ່ນລົບແຖວ (row) ທີ່ມີຄ່າວ່າງເປົ່າ
*   1 ຫຼື 'columns' ແມ່ນລົບຖັນ (column) ທີ່ມີຄ່າວ່າງເປົ່າ
2.   subset: ກຳນົດ column ທີ່ຕ້ອງການລົບໂດຍເຈາະຈົງ
*   eg. subset['buy']
3.   inplace: ກຳນົດວ່າຈະ ແກ້ໄຂຫຼ້າໆ ຫຼື  ສ້າງ DataFrame ໃໝ່ {bool}, default = False 




> ໃນ block ດ້ານລຸ່ມແມ່ນຄຳສັ່ງການລົບແຖວມີຄ່າວ່າງໃນຖັນທີ່ມີຊື່ວ່າ vore

In [ ]:
df.dropna(subset=['vore'], axis='index', inplace=True)
df

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
0,Cheetah,Acinonyx,carni,Carnivora,lc,12.1,NaN,NaN,11.9,NaN,50.000
1,Owl monkey,Aotus,omni,Primates,NaN,17.0,1.8,NaN,7.0,0.01550,0.480
2,Mountain beaver,Aplodontia,herbi,Rodentia,nt,14.4,2.4,NaN,9.6,NaN,1.350
3,Greater short-tailed shrew,Blarina,omni,Soricomorpha,lc,14.9,2.3,0.133333,9.1,0.00029,0.019
4,Cow,Bos,herbi,Artiodactyla,domesticated,4.0,0.7,0.666667,20.0,0.42300,600.000
...,...,...,...,...,...,...,...,...,...,...,...
78,Tree shrew,Tupaia,omni,Scandentia,NaN,8.9,2.6,0.233333,15.1,0.00250,0.104
79,Bottle-nosed dolphin,Tursiops,carni,Cetacea,NaN,5.2,NaN,NaN,18.8,NaN,173.330
80,Genet,Genetta,carni,Carnivora,NaN,6.3,1.3,NaN,17.7,0.01750,2.000
81,Arctic fox,Vulpes,carni,Carnivora,NaN,12.5,NaN,NaN,11.5,0.04450,3.380
82,Red fox,Vulpes,carni,Carnivora,NaN,9.8,2.4,0.350000,14.2,0.05040,4.230



> Dummy variable ແມ່ນຕົວປ່ຽນທີ່ຂໍ້ມູນບໍ່ແມ່ນປະເພດຕົວເລກເຊັ່ນ: ເຊື້ອຊາດ, ສາດສະໜາ, ເພດ ມາກຳນົດໃນຮູບແບບຕົວເລກ ຫຼື ເລກລະຫັດເຊັ່ນ ກຳນົດໃຫ້ 1 ເປັນເພດຍິງ 0 ແມ່ນເພດຊາຍເປັນຕົ້ນ
*   ເພື່ອສ້າງ dummy variable ເຮົາໃຊ້ຟັງຊັ້ນ get_dummies()



> ໃນ  block ດ້ານລຸ່ມແມ່ນຄຳສັ່ງການສ້າງ ໂຕປ່ຽນ dummy ຈາກຖັນທີ່ມີຊື່ວ່າ vore ແລະ ສະແດງຂໍ້ມູນທີ່ໄດ້

In [ ]:
### create dummy variables
dummies=pd.get_dummies(df['vore'])
dummies

    carni  herbi  insecti  omni
0       1      0        0     0
1       0      0        0     1
2       0      1        0     0
3       0      0        0     1
4       0      1        0     0
..    ...    ...      ...   ...
78      0      0        0     1
79      1      0        0     0
80      1      0        0     0
81      1      0        0     0
82      1      0        0     0

[76 rows x 4 columns]

> concat(): Concatenate ແມ່ນຟັງຊັ້ນທີ່ໃຊ້ໃນການເຊື່ອມ ຫຼື ໂຮມ objects ເຂົ້າກັນຕາມແກນທີ່ກຳນົດ parameter ປະກອບມີ 

1.    axis: ກຳນົດແກນທີ່ຕ້ອງການ {0 ຫຼື ’index’, 1 ຫຼື ’columns’}, default 0
- 0 ຫຼື 'index' ແມ່ນລົບແຖວ (row) ທີ່ມີຄ່າວ່າງເປົ່າ
- 1 ຫຼື 'columns' ແມ່ນລົບຖັນ (column) ທີ່ມີຄ່າວ່າງເປົ່າ



> ໃນ block ດ້ານລຸ່ມແມ່ນຄຳສັ່ງໃນການສ້າງໂຕປ່ຽນ DataFrame ທີ່ມີຊື່ວ່າ dm ໂດຍເອົາຂໍ້ມູນທີ່ໄດ້ຈາກການ ໂຮມຖັນຈາກ df ແລະ dummies ເຂົ້າກັນ

In [ ]:
dm=pd.concat([df, dummies], axis='columns')
dm

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt,carni,herbi,insecti,omni
0,Cheetah,Acinonyx,carni,Carnivora,lc,12.1,NaN,NaN,11.9,NaN,50.000,1,0,0,0
1,Owl monkey,Aotus,omni,Primates,NaN,17.0,1.8,NaN,7.0,0.01550,0.480,0,0,0,1
2,Mountain beaver,Aplodontia,herbi,Rodentia,nt,14.4,2.4,NaN,9.6,NaN,1.350,0,1,0,0
3,Greater short-tailed shrew,Blarina,omni,Soricomorpha,lc,14.9,2.3,0.133333,9.1,0.00029,0.019,0,0,0,1
4,Cow,Bos,herbi,Artiodactyla,domesticated,4.0,0.7,0.666667,20.0,0.42300,600.000,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,Tree shrew,Tupaia,omni,Scandentia,NaN,8.9,2.6,0.233333,15.1,0.00250,0.104,0,0,0,1
79,Bottle-nosed dolphin,Tursiops,carni,Cetacea,NaN,5.2,NaN,NaN,18.8,NaN,173.330,1,0,0,0
80,Genet,Genetta,carni,Carnivora,NaN,6.3,1.3,NaN,17.7,0.01750,2.000,1,0,0,0
81,Arctic fox,Vulpes,carni,Carnivora,NaN,12.5,NaN,NaN,11.5,0.04450,3.380,1,0,0,0
82,Red fox,Vulpes,carni,Carnivora,NaN,9.8,2.4,0.350000,14.2,0.05040,4.230,1,0,0,0



> sklearn ເປັນ Python Package ເຊິ່ງແມ່ນເຄື່ອງມືໃນການເຮັດ data mining ທີ່ມີປະສິດທິພາບໃນການເຮັດວິເຄາະຂໍ້ມູນຄ່າກະຕວງ predictive data analysis ໂດຍສ້າງມາຈາກ module ຫຼາຍຕົວເຊັ່ນ: NumPy, SciPy ແລະ matplotlib



> ໃນ block ດ້ານລຸ່ມແມ່ນຄຳສັ່ງເອີ້ນນຳໃຊ້ sklearn library ແລະ ດຶງເອົາ model ທີ່ເປັນ Linear Regression ມາໃຊ້

In [ ]:
### sklearn: LinearRegression
import sklearn
from sklearn.linear_model import LinearRegression



> ສະແດງເວີຊັ້ນຂອງ sklearn

In [ ]:
print(f'sklearn version: {sklearn.__version__}')

sklearn version: 1.0.2



> ສ້າງ instance ທີຊື່ model ຈາກ LinearRegression()


> ສ້າງຕົວປ່ຽນ dt ຈາກຕົ່ວປ່ຽນ dm ດ້ານເທິງແລະເອົາສະເພາະບາງ column ພ້ອມທັງ ລົບ ຖັນທີ່ມີຄ່າວ່າງຢູ່


> ສ້າງຕົວປ່ຽນ X ໂດຍເອົາຂໍ້ມູນຈາກບາງຖັນຈາກຕົວປ່ຽນ dt

In [ ]:
model = LinearRegression()
dt=dm[['vore', 'bodywt', 'carni', 'herbi', 'omni', 'insecti', 'sleep_total']].dropna(axis='index')
X=dt[['bodywt', 'insecti', 'herbi', 'omni']]



> ທຳການ Train (ປະມວນຜົນ(fit)) ຊຸດຂໍ້ມູນ

> ລາຍລະອຽດ Syntax https://www.sharpsightlabs.com/blog/sklearn-fit/

In [ ]:
model.fit(X, dt.sleep_total)

LinearRegression()



> ຄິດໄລ່ R-squared ຂອງໂມເດວຫຼັງການ fit ຫຼື ເຮັດການຄາດເດົາຄ່າຄະແນນຄວາມແມ້ນຍຳ

In [ ]:
model.score(X, dt.sleep_total) # R-squared

0.16713760369976105



>



> Predict ຄ່າ coefficients

In [ ]:
model.coef_

array([-1.62680477e-03,  4.43443922e+00, -4.20369040e-01,  4.19108004e-01])



> ສະແດງຂໍ້ມູນທັງໝົດໃນຕົວປ່ຽນ X

In [ ]:
X

     bodywt  insecti  herbi  omni
0    50.000        0      0     0
1     0.480        0      0     1
2     1.350        0      1     0
3     0.019        0      0     1
4   600.000        0      1     0
..      ...      ...    ...   ...
78    0.104        0      0     1
79  173.330        0      0     0
80    2.000        0      0     0
81    3.380        0      0     0
82    4.230        0      0     0

[76 rows x 4 columns]



> Statsmodels ເປັນ Python Package ເຊິ່ງແມ່ນເຄື່ອງມືທີ່ໃຊ້ສຳລັບປະມວນຜົນຂໍ້ມູນ, ຄາດເດົາໂຕເລກດ້ານສະຖິຕິຕ່າງໆ


> ໃນ block ດ້ານລຸ່ມແມ່ນຄຳສັ່ງເອີ້ນໃຊ້ Statmodels package

In [ ]:
### Statsmodels: Linear regression
import statsmodels.api as sm
import statsmodels.formula.api as smf



> ສະແດງຊື່ columns

In [ ]:
dt.columns

Index(['vore', 'bodywt', 'carni', 'herbi', 'omni', 'insecti', 'sleep_total'], dtype='object')



> ທຳການ Fit Model ໂດຍນຳໃຊ້ OLS regression (Ordinary Least Squares) ແລະ ນຳໃຊ້ສູດ response ~ predictor + predictor

In [ ]:
# formula: response ~ predictor + predictor
model_a = smf.ols(formula='sleep_total ~ bodywt + insecti + herbi + omni', data=dt).fit()



> ສະແດງລາຍລະອຽດຂໍ້ມູນຈາກ model_a

In [ ]:
print(model_a.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:            sleep_total   R-squared:                       0.167
Model:                            OLS   Adj. R-squared:                  0.120
Method:                 Least Squares   F-statistic:                     3.562
Date:                Tue, 29 Nov 2022   Prob (F-statistic):             0.0105
Time:                        18:39:58   Log-Likelihood:                -215.94
No. Observations:                  76   AIC:                             441.9
Df Residuals:                      71   BIC:                             453.5
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     10.5266      0.986     10.677      0.000       8.561      12.492
bodywt        -0.0016      0.001     -2.643      0.010      -0.003      -0.000
insecti        4.4344      2.157      2.056      0.043       0.133       8.736
herbi         -0.4204      1.254     -0.335      0.738      -2.921       2.081
omni           0.4191      1.375      0.305      0.761      -2.323       3.162
==============================================================================
Omnibus:                       10.538   Durbin-Watson:                   1.735
Prob(Omnibus):                  0.005   Jarque-Bera (JB):                3.310
Skew:                          -0.004   Prob(JB):                        0.191
Kurtosis:                       1.978   Cond. No.                     4.10e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 4.1e+03. This might indicate that there are
strong multicollinearity or other numerical problems.



> intercept_ ແມ່ນຄ່າຂອງ Y ເມື່ອ X ທັງໝົດເທົ່າກັບ 0

In [ ]:
model.intercept_ # sklearn

10.526581698987146



> ສະແດງຄ່າທີ່ໄດ້ຈາກການ predict

In [ ]:
model.coef_

array([-1.62680477e-03,  4.43443922e+00, -4.20369040e-01,  4.19108004e-01])



> ສະແດງຄ່າຄວາມເປັນໄປໄດ້ທັງໝົດ (probability)

In [ ]:
model_a.pvalues

Intercept    2.051710e-16
bodywt       1.010685e-02
insecti      4.349131e-02
herbi        7.384985e-01
omni         7.614768e-01
dtype: float64



> Fit model, ສ້າງ dummy variables  ແລະ ສ້າງ model_b

In [ ]:
### use C() in Statsmodels to create dummy variables internally
# model_a = smf.ols(formula='sleep_total ~ bodywt + insecti + herbi + omni', data=dt).fit()
model_b = smf.ols(formula='sleep_total ~ bodywt + C(vore)', data=dt).fit()



> ສະແດງລາຍລະອຽດຂອງ model_b

In [ ]:
model_b.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:            sleep_total   R-squared:                       0.167
Model:                            OLS   Adj. R-squared:                  0.120
Method:                 Least Squares   F-statistic:                     3.562
Date:                Tue, 29 Nov 2022   Prob (F-statistic):             0.0105
Time:                        18:43:03   Log-Likelihood:                -215.94
No. Observations:                  76   AIC:                             441.9
Df Residuals:                      71   BIC:                             453.5
Df Model:                           4
Covariance Type:            nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
Intercept             10.5266      0.986     10.677      0.000       8.561      12.492
C(vore)[T.herbi]      -0.4204      1.254     -0.335      0.738      -2.921       2.081
C(vore)[T.insecti]     4.4344      2.157      2.056      0.043       0.133       8.736
C(vore)[T.omni]        0.4191      1.375      0.305      0.761      -2.323       3.162
bodywt                -0.0016      0.001     -2.643      0.010      -0.003      -0.000
==============================================================================
Omnibus:                       10.538   Durbin-Watson:                   1.735
Prob(Omnibus):                  0.005   Jarque-Bera (JB):                3.310
Skew:                          -0.004   Prob(JB):                        0.191
Kurtosis:                       1.978   Cond. No.                     4.10e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 4.1e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""



> ສະແດງລາຍລະອຽດຂອງ model_a

In [ ]:
model_a.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:            sleep_total   R-squared:                       0.167
Model:                            OLS   Adj. R-squared:                  0.120
Method:                 Least Squares   F-statistic:                     3.562
Date:                Tue, 29 Nov 2022   Prob (F-statistic):             0.0105
Time:                        18:43:06   Log-Likelihood:                -215.94
No. Observations:                  76   AIC:                             441.9
Df Residuals:                      71   BIC:                             453.5
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     10.5266      0.986     10.677      0.000       8.561      12.492
bodywt        -0.0016      0.001     -2.643      0.010      -0.003      -0.000
insecti        4.4344      2.157      2.056      0.043       0.133       8.736
herbi         -0.4204      1.254     -0.335      0.738      -2.921       2.081
omni           0.4191      1.375      0.305      0.761      -2.323       3.162
==============================================================================
Omnibus:                       10.538   Durbin-Watson:                   1.735
Prob(Omnibus):                  0.005   Jarque-Bera (JB):                3.310
Skew:                          -0.004   Prob(JB):                        0.191
Kurtosis:                       1.978   Cond. No.                     4.10e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 4.1e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

> ສະແດງຄ່າທີ່ໄດ້ຈາກການ predict

In [ ]:
# sklearn regression model
model.coef_

array([-1.62680477e-03,  4.43443922e+00, -4.20369040e-01,  4.19108004e-01])


> ສະແດງລາຍລະອຽດຂອງ model_a

In [ ]:
model_a.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:            sleep_total   R-squared:                       0.167
Model:                            OLS   Adj. R-squared:                  0.120
Method:                 Least Squares   F-statistic:                     3.562
Date:                Tue, 29 Nov 2022   Prob (F-statistic):             0.0105
Time:                        18:43:11   Log-Likelihood:                -215.94
No. Observations:                  76   AIC:                             441.9
Df Residuals:                      71   BIC:                             453.5
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     10.5266      0.986     10.677      0.000       8.561      12.492
bodywt        -0.0016      0.001     -2.643      0.010      -0.003      -0.000
insecti        4.4344      2.157      2.056      0.043       0.133       8.736
herbi         -0.4204      1.254     -0.335      0.738      -2.921       2.081
omni           0.4191      1.375      0.305      0.761      -2.323       3.162
==============================================================================
Omnibus:                       10.538   Durbin-Watson:                   1.735
Prob(Omnibus):                  0.005   Jarque-Bera (JB):                3.310
Skew:                          -0.004   Prob(JB):                        0.191
Kurtosis:                       1.978   Cond. No.                     4.10e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 4.1e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""