<a href="https://colab.research.google.com/github/Xaypanya/Machine-Learning/blob/main/Dummy_variable%2C_Linear_Regression_scikit_learn_%26_statsmodels.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



> ເອີ້ນນຳໃຊ້ pandas library ທີ່ເປັນເຄື່ອງມືສຳລັບວິເຄາະ ແລະ ຈັດການຂໍ້ມຸນ ໂດຍແທນຊື່ຕົວປ່ຽນເປັນ pd

In [2]:
import pandas as pd



> ສະແດງເວິຊັ້ນຂອງ pandas ແລະ ສະແດງຂໍ້ມູນໃນ DataFrame ທັງໝົດ

In [3]:
print(f'pandas  version: {pd.__version__}') 
df=pd.read_csv('https://github.com/prasertcbs/tutorial/raw/master/msleep.csv')
df

pandas  version: 1.3.5

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
0,Cheetah,Acinonyx,carni,Carnivora,lc,12.1,NaN,NaN,11.9,NaN,50.000
1,Owl monkey,Aotus,omni,Primates,NaN,17.0,1.8,NaN,7.0,0.01550,0.480
2,Mountain beaver,Aplodontia,herbi,Rodentia,nt,14.4,2.4,NaN,9.6,NaN,1.350
3,Greater short-tailed shrew,Blarina,omni,Soricomorpha,lc,14.9,2.3,0.133333,9.1,0.00029,0.019
4,Cow,Bos,herbi,Artiodactyla,domesticated,4.0,0.7,0.666667,20.0,0.42300,600.000
...,...,...,...,...,...,...,...,...,...,...,...
78,Tree shrew,Tupaia,omni,Scandentia,NaN,8.9,2.6,0.233333,15.1,0.00250,0.104
79,Bottle-nosed dolphin,Tursiops,carni,Cetacea,NaN,5.2,NaN,NaN,18.8,NaN,173.330
80,Genet,Genetta,carni,Carnivora,NaN,6.3,1.3,NaN,17.7,0.01750,2.000
81,Arctic fox,Vulpes,carni,Carnivora,NaN,12.5,NaN,NaN,11.5,0.04450,3.380
82,Red fox,Vulpes,carni,Carnivora,NaN,9.8,2.4,0.350000,14.2,0.05040,4.230



> ສະແດງຂໍ້ມູນກ່ຽວກັບ DataFrame ເຊັ່ນ index dtype, column dtypes, ຄ່າ non-null ແລະ ຂະໜາດໜ່ວຍຄວາມຈຳທີ່ໃຊ້

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83 entries, 0 to 82
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          83 non-null     object
 1   genus         83 non-null     object
 2   vore          76 non-null     object
 3   order         83 non-null     object
 4   conservation  54 non-null     object
 5   sleep_total   83 non-null     float64
 6   sleep_rem     61 non-null     float64
 7   sleep_cycle   32 non-null     float64
 8   awake         83 non-null     float64
 9   brainwt       56 non-null     float64
 10  bodywt        83 non-null     float64
dtypes: float64(6), object(5)
memory usage: 7.3+ KB



> ກວດສອບຄ່າທີວ່າງເປົ່າ (NA: Not Available) ໃນ colum ທີ່ມີຊື່ວ່າ vore

In [6]:
### check NA in 'vore'column
df[df.vore.isna()]

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
7,Vesper mouse,Calomys,NaN,Rodentia,NaN,7.0,NaN,NaN,17.0,NaN,0.045
54,Desert hedgehog,Paraechinus,NaN,Erinaceomorpha,lc,10.3,2.7,NaN,13.7,0.00240,0.550
56,Deer mouse,Peromyscus,NaN,Rodentia,NaN,11.5,NaN,NaN,12.5,NaN,0.021
57,Phalanger,Phalanger,NaN,Diprotodontia,NaN,13.7,1.8,NaN,10.3,0.01140,1.620
62,Rock hyrax,Procavia,NaN,Hyracoidea,lc,5.4,0.5,NaN,18.6,0.02100,3.600
68,Mole rat,Spalax,NaN,Rodentia,NaN,10.6,2.4,NaN,13.4,0.00300,0.122
72,Musk shrew,Suncus,NaN,Soricomorpha,NaN,12.8,2.0,0.183333,11.2,0.00033,0.048



> dropna() ແມ່ນຟັງຊັ້ນທີ່ໃຊ້ລົບຄ່າວ່າງເປົ່າ parameter ປະກອບມີ



1.   axis: ກຳນົດແກນທີ່ຕ້ອງການລົບ {0 ຫຼື 'index', 1 ຫຼື 'columns'}, default 0
*   0 ຫຼື 'index' ແມ່ນລົບແຖວ (row) ທີ່ມີຄ່າວ່າງເປົ່າ
*   1 ຫຼື 'columns' ແມ່ນລົບຖັນ (column) ທີ່ມີຄ່າວ່າງເປົ່າ
2.   subset: ກຳນົດ column ທີ່ຕ້ອງການລົບໂດຍເຈາະຈົງ
*   eg. subset['buy']
3.   inplace: ກຳນົດວ່າຈະ ແກ້ໄຂຫຼ້າໆ ຫຼື  ສ້າງ DataFrame ໃໝ່ {bool}, default = False 




> ໃນ block ດ້ານລຸ່ມແມ່ນຄຳສັ່ງການລົບແຖວມີຄ່າວ່າງໃນຖັນທີ່ມີຊື່ວ່າ vore

In [7]:
df.dropna(subset=['vore'], axis='index', inplace=True)
df

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
0,Cheetah,Acinonyx,carni,Carnivora,lc,12.1,NaN,NaN,11.9,NaN,50.000
1,Owl monkey,Aotus,omni,Primates,NaN,17.0,1.8,NaN,7.0,0.01550,0.480
2,Mountain beaver,Aplodontia,herbi,Rodentia,nt,14.4,2.4,NaN,9.6,NaN,1.350
3,Greater short-tailed shrew,Blarina,omni,Soricomorpha,lc,14.9,2.3,0.133333,9.1,0.00029,0.019
4,Cow,Bos,herbi,Artiodactyla,domesticated,4.0,0.7,0.666667,20.0,0.42300,600.000
...,...,...,...,...,...,...,...,...,...,...,...
78,Tree shrew,Tupaia,omni,Scandentia,NaN,8.9,2.6,0.233333,15.1,0.00250,0.104
79,Bottle-nosed dolphin,Tursiops,carni,Cetacea,NaN,5.2,NaN,NaN,18.8,NaN,173.330
80,Genet,Genetta,carni,Carnivora,NaN,6.3,1.3,NaN,17.7,0.01750,2.000
81,Arctic fox,Vulpes,carni,Carnivora,NaN,12.5,NaN,NaN,11.5,0.04450,3.380
82,Red fox,Vulpes,carni,Carnivora,NaN,9.8,2.4,0.350000,14.2,0.05040,4.230



> Dummy variable ແມ່ນຕົວປ່ຽນທີ່ຂໍ້ມູນບໍ່ແມ່ນປະເພດຕົວເລກເຊັ່ນ: ເຊື້ອຊາດ, ສາດສະໜາ, ເພດ ມາກຳນົດໃນຮູບແບບຕົວເລກ ຫຼື ເລກລະຫັດເຊັ່ນ ກຳນົດໃຫ້ 1 ເປັນເພດຍິງ 0 ແມ່ນເພດຊາຍເປັນຕົ້ນ
*   ເພື່ອສ້າງ dummy variable ເຮົາໃຊ້ຟັງຊັ້ນ get_dummies()



> ໃນ  block ດ້ານລຸ່ມແມ່ນຄຳສັ່ງການສ້າງ ໂຕປ່ຽນ dummy ຈາກຖັນທີ່ມີຊື່ວ່າ vore ແລະ ສະແດງຂໍ້ມູນທີ່ໄດ້

In [8]:
### create dummy variables
dummies=pd.get_dummies(df['vore'])
dummies

    carni  herbi  insecti  omni
0       1      0        0     0
1       0      0        0     1
2       0      1        0     0
3       0      0        0     1
4       0      1        0     0
..    ...    ...      ...   ...
78      0      0        0     1
79      1      0        0     0
80      1      0        0     0
81      1      0        0     0
82      1      0        0     0

[76 rows x 4 columns]

In [ ]:
dm=pd.concat([df, dummies], axis='columns')
dm

In [ ]:
### sklearn: LinearRegression
import sklearn
from sklearn.linear_model import LinearRegression

In [ ]:
print(f'sklearn version: {sklearn.__version__}')

In [ ]:
model = LinearRegression()
dt=dm[['vore', 'bodywt', 'carni', 'herbi', 'omni', 'insecti', 'sleep_total']].dropna(axis='index')
X=dt[['bodywt', 'insecti', 'herbi', 'omni']]

In [ ]:
model.fit(X, dt.sleep_total)

In [ ]:
model.score(X, dt.sleep_total) # R-squared

In [ ]:
model.coef_

In [ ]:
X

In [ ]:
### Statsmodels: Linear regression
import statsmodels.api as sm
import statsmodels.formula.api as smf

In [ ]:
dt.columns

In [ ]:
# formula: response ~ predictor + predictor
model_a = smf.ols(formula='sleep_total ~ bodywt + insecti + herbi + omni', data=dt).fit()

In [ ]:
model_a.summary()

In [ ]:
print(model_a.summary())

In [ ]:
model.intercept_ # sklearn

In [ ]:
model.coef_

In [ ]:
model_a.pvalues

In [ ]:
### use C() in Statsmodels to create dummy variables internally
# model_a = smf.ols(formula='sleep_total ~ bodywt + insecti + herbi + omni', data=dt).fit()
model_b = smf.ols(formula='sleep_total ~ bodywt + C(vore)', data=dt).fit()

In [ ]:
model_b.summary()

In [ ]:
model_a.summary()

In [ ]:
# sklearn regression model
model.coef_

In [ ]:
model_a.summary()